<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="dashboard.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="dashboard_new.js"></script>
</head>
	<body class="bg-light" onload="setup()">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-5">
					<div class="custom-card">
						<h2 class="text-center">User ID: <span id="userID"><%= userID %></span></h1>
						<br>
						<table class="table table-hover text-center">
							<thead>
								<th>Age</th>
								<th>Weight</th>
								<th>Height</th>
								<th>BM Ratio</th>
							</thead>
							<tbody>
								<tr>
									<td><%= userData['age'] %></td>
									<td><%= userData['weight'] %></td>
									<td><%= userData['height'] %></td>
									<td><%= userData['bmratio'] %></td>
								</tr>
							</tbody>
						</table>
						<br>
						<center>
							<span class="badge badge-light text-capitalize"><%= userData['condition'] %></span>
							<span class="badge badge-danger"><%= userData['vegnonveg'] %></span>
							<span class="badge badge-info"><%= userData['gender'] %></span> 
							<% for (var i = 0; i < userData["allergies"].length; i++) { %>
								<span class="badge badge-warning text-capitalize"><%= userData["allergies"][i] %></span>
							<% } %>
						</center>
						<br>
					</div>
					<div class="custom-card padding-all">
						<form action='/workflow' method="POST">
							<div class="row">
								<div class="col-md-12 padding-all">
									<div class="row align-items-center justify-content-center">
										<div class="col-6">
											<div class="form-group" >
												<label for="steps">Steps</label>
												<input type="number" class="form-control text-capitalize" id="steps" name="steps" value="7000">								
												<small class="form-text text-muted">How much did you walk today?</small>
											</div>
										</div>	
										<div class="col-6">
											<div class="form-group" >
												<label for="floors">Floors</label>
												<input type="number" class="form-control text-capitalize" id="floors" name="floors" value="2">								
												<small class="form-text text-muted">How many floors did you climb?</small>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-9">
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" id="searchRadio" name="choiceRadio" class="custom-control-input" value="search" checked="True" onclick="switch_cases(0)">
												<label class="custom-control-label" for="searchRadio">Search</label>
											</div>
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" id="uploadRadio" name="choiceRadio" class="custom-control-input" value="upload"  onclick="switch_cases(1)">
												<label class="custom-control-label" for="uploadRadio">Upload image</label>
											</div>
										</div>
										<div class="col-md-3">
											<button class="custom-btn-round-small custom-btn-round-outline-dark" onclick="addToMealBody()" style="float:right">+</button>	
										</div>
									</div>									
								</div>
								<div class="col-md-12 padding-all" id="searchContainer">
									<div class="row align-items-center justify-content-center">
										<div class="col-7">
											<div class="form-group" >
												<label for="dishName">Dish Name</label>
												<input type="search" class="form-control text-capitalize" id="dishName" name="dishName">								
												<small class="form-text text-muted">Eating something? Tell us what it is!</small>
											</div>
										</div>	
										<div class="col-5">
											<div class="form-group" >
												<label for="rating">Rating</label>
												<input type="number" class="form-control text-capitalize" id="rating" name="rating">								
												<small class="form-text text-muted">Do you like it?</small>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12" style="display: none" id="uploadContainer">
									<div class="form-group padding-all">
										<label for="uploadDish">Upload image</label>
										<input type="file" class="form-control-file" id="uploadDish" name="uploadDish">
										<small id="emailHelp" class="form-text text-muted">Eating something? Show us what it is!</small>
									</div>
								</div>
								<div class="col-md-12">
									<table class="table table-hover text-center">
										<tbody id="mealBody">
										</tbody>
									</table>
								</div>
							</div>
							<center><button type="button" class="custom-btn custom-btn-outline-dark rounded-button" id="submitMeal">Done</button></center>
						</form>
					</div>
				</div>
				<div class="col-md-5 custom-card">
					<h6	class="text-center">Table 1. User History</h6>
					<table class="table table-hover text-center">
						<thead class="thead-dark">
							<tr>
								<th>#</th>
								<th>Dish Name</th>
								<th>Rating Given</th>
							</tr>
						</thead>
						<tbody>
							<% var count = 1; %>
							<% Object.keys(historyData).forEach(function(key){ %>
								<tr>
									<td><%= count %></td>	
									<td class="text-capitalize"><%= key %></td>
									<td><%= historyData[key] %></td>
								</tr>
							<% count += 1 %>
							<%})%>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row align-items-center justify-content-center" id="imageWrapper" style="display: none">
				<div class="col-12">
					<div class="row align-items-center justify-content-center custom-card" id="imageWrapperInner">
						<div class="col-4 offset-1">
							<form id="mealForm">
								
								<center><button type="button" class="custom-btn custom-btn-outline-dark rounded-button" id="submitMealImage">Done</button></center>
							</form>
						</div>
						<div class="col-6 offset-1">
							<h6	class="text-center">Image 1. Supplied Image</h6>
							<div class="canvas-wrapper">
								<canvas width="400px" height="400px" id="imageContainer" style="margin-left:auto; margin-right:auto">
								</canvas>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row align-items-center justify-content-center" id="predictionsContainer">
				<div class="col-md-6 padding-all" id="progressbarContainer">
					<div class="progress" style="height: 1px;">
						<div class="progress-bar bg-dark" id="progressbar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<div id="predictionsWrapper" class="row align-items-center justify-content-center"  style="display:none">	
					<div class="col-md-3 custom-card" id="predictionsContainermatf">
						<h6	class="text-center">Table 3. Predicting what the user might like MatF</h6>
						<table class="table table-hover text-center">
							<thead class="thead-dark">
								<tr>
									<th>#</th>
									<th>Dish name</th>
								</tr>
							</thead>
							<tbody id="predictionsBodymatf">

							</tbody>
						</table>
					</div>
					<div class="col-md-3 custom-card" id="predictionsContainertfidf">
						<h6	class="text-center">Table 3. Predicting what the user might like Tf-idf</h6>
						<table class="table table-hover text-center">
							<thead class="thead-dark">
								<tr>
									<th>#</th>
									<th>Dish name</th>
								</tr>
							</thead>
							<tbody id="predictionsBodytfidf">

							</tbody>
						</table>
					</div>
					<div class="col-md-3 custom-card" id="predictionsContainertfidfflavour">
						<h6	class="text-center">Table 3. Predicting what the user might like Tf-idf + flavour</h6>
						<table class="table table-hover text-center">
							<thead class="thead-dark">
								<tr>
									<th>#</th>
									<th>Dish name</th>
								</tr>
							</thead>
							<tbody id="predictionsBodytfidfflavour">

							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
		<!-- <div id="information" style="display:none"></div>
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-4 custom-card">
					<h1 class="text-center">User ID: <%= userID %></h1>
				</div>
				<div class="col-md-6 custom-card">
					<h6	class="text-center">Table 1. User History</h6>
					<table class="table table-hover text-center">
						<thead class="thead-dark">
							<tr>
								<th>#</th>
								<th>Dish Name</th>
								<th>Rating Given</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>	
								<td></td>
								<td></td>
							</tr>
						
						</tbody>
					</table>
				</div>
			</div>
			<div class="row align-items-center" id="progressbarContainer">
				<div class="col-md-6 offset-md-3 padding-all">
					<div class="progress" style="height: 1px;">
						<div class="progress-bar bg-dark" id="progressbar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
			<div class="row align-items-center custom-card" id="recognitionContainer" style="display:none">
				<div class="col-md-3 offset-md-1">
					<h6	class="text-center">Recognition Results</h6>
					<table class="table text-center">
						<tbody id="recognitionResults">
						</tbody>
					</table>
					<center><button type="button" class="custom-btn custom-btn-outline-dark" onclick="callWorkflow()">Submit </button></center>
				</div>
				<div class="col-md-6 offset-md-1">
					<h6	class="text-center">Image 1. Supplied Image</h6>
					<div class="canvas-wrapper">
						<canvas width="400px" height="400px" id="imageContainer" style="margin-left:auto; margin-right:auto">
						</canvas>
					</div>
				
				</div>
			</div>
			<div class="row align-items-center justify-content-center" id ="progressbarWrapper" style="display:none">
				<div class="col-md-6 padding-all" id="progressbarContainer">
					<div class="progress" style="height: 1px;">
						<div class="progress-bar bg-dark" id="progressbar2" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
			<div class="row align-items-center justify-content-center" id="workflowContainer" style="display:none">
				<div class="col-md-3 custom-card">
					<h6>Dish name</h6>
					<small>Showing statistics for the selected dish.</small>
					<h1 class="text-center padding-all" id="dishNameHeading"></h1>
				</div>
				<div class="col-md-3 custom-card">
					<h6	class="text-center">Table 2. Nutrient Information</h6>
					<table class="table table-hover text-center">
						<thead class="thead-dark">
							<tr>
								<th>Nutrient</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody id="nutrientBody">
						</tbody>

					</table>
				</div>
				<div class="col-md-4 custom-card">
					<div id="flavourChart">
						
					</div>
				</div>
				<div class="col-md-6 custom-card" id="predictionsContainer">
					<h6	class="text-center">Table 3. Predicting what the user might like</h6>
					<table class="table table-hover text-center">
						<thead class="thead-dark">
							<tr>
								<th>#</th>
								<th>Dish name</th>
								<th>Predicted ratings</th>
							</tr>
						</thead>
						<tbody id="predictionsBody">

						</tbody>
					</table>
				</div>
			</div>
		</div> -->
	</body>
</html>